
.footer {
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
  overflow: auto;
}
.container .text-muted {
    margin: 20px 0;
}

body {
  margin-bottom: 60px;
  background: url("https://subtlepatterns.com/patterns/geometry.png");
}

#main {
  background-color: RGBA(241,241,241,0.75);
  border: 2px solid #ebebeb;
  padding: 10px 30px 10px 30px
}

footer {
  padding-top: 15px;
}
